<h1 class="page-header">James Chuang <small>Ruby on Rails Developer</small></h1>
<div class="container">
  <div class="row">
    <div class="col-lg-7 col-md-7">
      <a href="#"><img class="img-responsive" src="http://placehold.it/500x500"></a>
    </div>
    <div class="col-lg-5 col-md-5">
      Hi! I am a Ruby on Rails Developer
    </div>
  </div>
</div>


