<!-- Section #1 -->
<section id="home" data-speed="20" data-type="background">
</section>
<!-- Section #2 -->
<section id="about" data-speed="4" data-type="background">
  <div class="container">

  </div>
</section>
<!-- Section #3 -->
<section id="home" data-speed="20" data-type="background">
</section>
    <section id="third" data-speed="20" data-type="back">
    </section>
