<div class = "container-blog">
  <div class="page-header" id="projects">
    <h1>Projects</h1>
  </div>

  <%= render @projects %>

  <div class="row">
    <% if current_user.present? %>
      <%= link_to 'New project', new_project_path, id: "new_project_link", remote: true, :class => 'btn btn-default' %>
    <% end %>
  </div>
</div>
