<div class="well">
  <fieldset>
<%= simple_form_for(@post) do |f| %>
  <%= f.input :title%>
  <%= f.input :body%>
<% end %>
</fieldset>
</div>

<script type="text/javascript">
  $(document).ready(function(){

    $('#post_body').each(function(i, elem) {
      $(elem).wysihtml5();
    });

  })
</script>
